<template>
  <div id="app">
    Hello World, SSR!
    <p>
      <a href="/">Go To Home</a>
      <a href="/about">Go To About</a>
    </p>
    <router-view></router-view>
  </div>
</template>
<script>
  export default {
  };
</script>